# See http://help.github.com/ignore-files/ for more about ignoring files.
toDoApp/node_modules
# Compiled output
toDoApp/dist
toDoApp/tmp
toDoApp/out-tsc
toDoApp/bazel-out

# Node
toDoApp/node_modules
toDoApp/npm-debug.log
toDoApp/yarn-error.log

# IDEs and editors
toDoApp/.idea/
toDoApp/.project
toDoApp/.classpath
toDoApp/.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
toDoApp/.vscode/*
toDoApp/!.vscode/settings.json
toDoApp/!.vscode/tasks.json
toDoApp/!.vscode/launch.json
toDoApp/!.vscode/extensions.json
.history/*

# Miscellaneous
toDoApp/.angular/cache
toDoApp/.sass-cache/
toDoApp/connect.lock
toDoApp/coverage
toDoApp/libpeerconnection.log
toDoApp/testem.log
toDoApp/typings

# System files
toDoApp/.DS_Store
toDoApp/Thumbs.db
