# See http://help.github.com/ignore-files/ for more about ignoring files.
toDoApp/node_modules
# Compiled output
toDoApp/dist
toDoApp/tmp
toDoApp/out-tsc
toDoApp/bazel-out

# Node
toDoApp/node_modules
toDoApp/npm-debug.log
toDoApp/yarn-error.log

# IDEs and editors
toDoApp/.idea/
toDoApp/.project
toDoApp/.classpath
toDoApp/.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
